/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*
 * Import custom fonts
 */

@font-face {
    font-family: 'proxima-nova';
    src: url('/fonts/ProximaNovaAltRegular.otf');
}

@font-face {
    font-family: 'adobe-garamond';
    src: url('/fonts/AdobeGaramondProItalic.ttf');
}

html, body {
    width: 100%;
    /*height: 100%;*/
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'proxima-nova', sans-serif !important;
}

/*
 * 'Include' element styling
 */

.navbar .container-fluid, .section-content {
    max-width: 1040px;
    margin: 0 auto;
    width: 100%;
}

.navbar * {
    color: #fff !important;
    font-weight: bold;
}

section, footer {
    border-bottom: #dddddd solid 1px;
    padding: 2em 0;
    width: 100%;
}

.dark {
    background: #fafafa;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

#fun-fact, .section-content, footer {
  padding-left: 1em;
  padding-right: 1em;
}

#fun-fact {
  border-bottom: #dddddd solid 1px;
  font-size: 1.2em;
  padding: 1em 0;
  width: 100%;
}

footer {
    background-color: #f5f5f5;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    color: #666666;
    font-size: 1.1em;
}

footer .copyright {
  text-align: center;
  margin-bottom: 1em;
}

footer ul.site-links {
  padding: 0;
}

footer .site-links li {
  text-align: center;
  margin-bottom: 1em;
}

footer .social-icons {
  padding: 0;
  text-align: center;
}

footer .social-icons li {
  display: inline;
  margin: 0 1em;
}


/*
 * Index Page Styling
 */

.section-header {
  font-size: 1.2em;
  line-height: 0.5;
  text-align: center;
  width: 100%;
}

.section-header span {
  display: inline-block;
  position: relative;
}

.section-header span:before,
.section-header span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-top: 1px solid #dddddd;
  top: 0;
  width: 100%;
}

.section-header span:before {
  right: 100%;
  margin-right: 15px;
}

.section-header span:after {
  left: 100%;
  margin-left: 15px;
}

.more {
  padding: 1em;
  display: inline-block;
  border: 2px solid;
  border-radius: 5px;
}

.read-more {
  display: inline-block;
  padding-top: 1em;
}

/* About */
#about > .section-content > .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2em;
}

.img-circle {
    border-radius: 50%;
    height: 225px;
    width: 225px;
    margin: 0 auto;
    display: block;
}

/* Portfolio */
#portfolio a:hover, #blog a:hover {
    text-decoration: none;
}

.image {
    position:relative;
}

.image img {
    width:100%;
    vertical-align:top;
}

.image:after, .image:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.image:after {
    content:'';
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.4);
}

.image:before {
    content: attr(data-content);
    width:100%;
    color:#fff;
    z-index:1;
    bottom:0;
    padding:4px 10px;
    text-align:center;
    background: rgba(0,0,0,0.8);
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.image:hover:after, .image:hover:before {
    opacity:1;
}


/*
 * Generic Non-Index Page Layout Styling
 */

.page-header small {
  font-family: 'adobe-garamond', sans-serif;
}

.port-object {
    margin-bottom: 2em;
}

.port-object time {
  display: inline-block;
  margin-bottom: 0.5em;
}


/*
 * 'About' Page Styling
 */

.chart {
  clear: both;
  padding: 0;
  width: 100%;
  background: url("http://cl.ly/QSpc/bg-chart.png") right top repeat-x;
  height: 425px;
}

.chart li {
  display: inline-block;
  height: 425px;
  width: 14%; /*Changed from 15%*/
  margin: 0 1.8% 0 0;
  padding: 25px 0;
  position: relative;
  text-align: center;
  vertical-align: bottom;
  border-radius: 4px 4px 0 0;
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
}

.chart .axis {
  display: none;
  padding: 0 0 !important;
  top: -15px;
  text-align: left;
}

.chart .axis-label {
  display: inline-block;
  background: #cccccc;
  margin-bottom: 55px;
  border-radius: 5px;
  padding: 5px;
  width: 120px;
}

.chart .label-text {
  margin-right: 0.5em;
}

.circle {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color: #26a65b;
    display: inline-block;
    vertical-align: middle;
}

.square {
    background-color: #446cb3;
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
}

.diamond {
    background-color: #446cb3;
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    transform: rotate(45deg);
    transform-origin: 50% 50%;
    background-color: #333;
}

.square .diamond {
  width: 9px;
  height: 9px;
  transform-origin: 110% 60%;
}

.chart .percent {
  letter-spacing: -3px;
  opacity: .4;
  width: 100%;
  font-size: 62px;
  font-size: 3.875rem;
  position: absolute;
}

.chart .percent span {
  font-size: 30px;
  font-size: 1.875rem;
}

.chart .skill {
  bottom: 20px;
  position: absolute;
  font-weight: 800;
  opacity: .5;
  overflow: hidden;
  text-transform: uppercase;
  width: 100%;
  font-size: 16px;
  font-size: 1rem;
}

.chart .teal {
  background: #4ecdc4;
  border: 1px solid #4ecdc4;
}

.chart .salmon {
  background: #ff6b6b;
  border: 1px solid #ff6b6b;
}

.chart .lime {
  background: #97f464;
  border: 1px solid #97f464;
}

.chart .peach {
  background: #ffcd92;
  border: 1px solid #ffcd92;
}

.chart .grape {
  background: #ab64f4;
  border: 1px solid #ab64f4;
}

.list-header {
  display: inline-block;
  margin-bottom: 0.5em;
  font-size: 1em !important;
}

#skills ul {
    font-size: 1.2em;
    font-weight: 500;
    list-style: none;
}

#skills li {
    font-size: 0.833em;
    font-weight: normal;
}

.brick {
  width: 225px;
  height: 225px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
}

#mountain-max { background-image: url('../img/my-photos/mountain_max.jpg');}
#cocktails { background-image: url('../img/my-photos/cocktails.jpg');}
#christmas-max { background-image: url('../img/my-photos/christmas_max.jpg');}
#grand-canyon { background-image: url('../img/my-photos/grandcanyon.jpg');}
#rafting-land { background-image: url('../img/my-photos/rafting_land.jpg');}
#rafting-water { background-image: url('../img/my-photos/rafting_water.jpg');}
#guess-who { background-image: url('../img/my-photos/guess_who.jpg');}
#skiing-btas { background-image: url('../img/my-photos/skiing_btas.jpg');}


/*
 * Portfolio Example Page Styling
 */

#tools ul {
    display: inline-block;
}


/*
 * Impossible List Page Styling
 */

#impossible-list li {
    padding-bottom: 1em;
}


/*
 * Blog Post Page Styling
 */

.post {
  max-width: 40em;
  font-size: 20px;
  line-height: 1.58;
}
.blog-post h1, .blog-post h2, .blog-post h3, .blog-post h4, .blog-post h5, .blog-post h6 {
    font-weight: bold !important;
    padding-top: 1em;
}


/*
 * Contact Page Styling
 */

.social img {
    width: 90px;
    height: auto;
}


/*
 * Helper CSS Classes
 */

.text-center {text-align: center;}

.text-left {text-align: left;}

.text-m {font-size: 1.3em;}

.text-l {font-size: 1.6em;}

.mar-bottom {margin-bottom: 2em;}

.no-list-style {list-style: none;}

.img-resp {max-width: 100%; height: auto;}

.italic {font-style: italic;}

.underline {border-bottom: 1px solid #dddddd;}

.pad-right {padding-right: 1em;}

.no-pad {padding: 0 !important;}


/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

        /* Sticky Footer */
        .site {
          display: flex;
          flex-direction: column;
          min-height: 100vh;
        }
        .site-content {
          flex: 1;
        }


        /* Horizontal Footer Layout */
        footer .section-content > div, footer ul, footer li {display: inline-block;}

        footer li, footer .copyright {margin: 0 1em;}

        /* Larger welcome picture */
        .img-circle {
          height: 300px;
          width: 300px;
        }
        
        /* Fixed thumbnail heights */
        #portfolio .thumbnail, #blog .thumbnail { height: 500px; }
        
        /* No margin on 'Challenges' for a portfolio project */
        .article-title {margin-top: 0;}
        
        /* Margin for icon group on Contact Page */
        .social {margin-top: 3em;}

        /* Show Skills Graph Axes */
        .chart .axis {
          display: inline-block;
        }

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

