<!doctype html>
<html class="no-js" lang="" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/Blog">

<head>
  <!-- Redirect users to https -->
  <script type="text/javascript">
      var host = "samrubin.co";
      if ((host == window.location.host) && (window.location.protocol != "https:"))
          window.location.protocol = "https";
  </script>

  <title>{% if page.title %}{{page.title}}{% else %}{{site.title}}{% endif %}</title> 

  <!-- Regular Meta Info -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{site.description}}{% endif %}">
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{site.keywords}}{% endif %}">
  <link rel="author" href="https://plus.google.com/116393399712138893961">
  <link rel="canonical" href="{{site.url}}{{site.baseurl}}{{page.url}}">

  <!-- Google Site Verification -->
  <meta name="google-site-verification" content="o_LfygouQ27lQuGc2N58VdfD1Q2XR01eR8bSK44FwMY" />

  <!-- Facebook OpenGraph Meta Info -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:type" content="{% if page.comments %}article{% else %}website{% endif %}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:image"  content="{{ site.url }}{{ site.baseurl }}/img/preview.PNG">
  <meta property="og:description" content="{% if page.comments %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{site.description}}{% endif %}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:see_also" content="{{ site.url }}">
  {% if page.comments %}<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">{% endif %}

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta itemprop="description" content="{% if page.comments %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{site.description}}{% endif %}">
  <meta itemprop="image"  content="{{ site.url }}{{ site.baseurl }}/img/preview.PNG">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@sammrubin">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.comments %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{site.description}}{% endif %}">
  <meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}/img/preview.PNG"> 

  <link rel="apple-touch-icon" href="{{site.baseurl}}/apple-touch-icon.png">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="{{site.baseurl}}/css/vendor/normalize.css"> -->
  <!-- <link rel="stylesheet" href="{{site.baseurl}}/css/vendor/simple-grid.css"> -->
  <link rel="stylesheet" href="{{site.baseurl}}/styles/app.css">


  <!--[if lt IE 9 ]><script src="{{site.baseurl}}/js/vendor/modernizr-2.8.3.min.js"></script><![endif]-->
</head>

<body class="site">
  <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <main class="site-content">
      {{content}}
  </main>
  
  <!--[if gt IE 8]><!><script src="{{site.baseurl}}/js/vendor/modernizr-2.8.3.min.js"></script><!<![endif]-->
  <script src="{{site.baseurl}}/js/app.js"></script>
  <!-- <script src="//storage.googleapis.com/vrview/2.0/build/vrview.min.js"></script> -->

  <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','UA-75792933-1','auto');ga('send','pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>

</body>
</html>
