/* Responsive breakpoints and mixins */
$desktop-min-width: 768px;
$mobile-max-width: 767px;

/* colors */
$white: #fff;
$black: #333;
$pokeball-red: #e74c3c;
$pillow-grey: #f2f2f2;
$midnight-blue: #2e2633;
$pacific-blue: #69d2e7;
$avocado-green: #2ecc71;

$eggplant: #2e2e2e;

$raleway: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;