---
layout: page
title: Blog
---

<section>
    <div class="section-content">
        <div class="page-header">
            <h1>{{page.title}} <small>Jotting down my thoughts</small></h1>
        </div>
        {% for post in paginator.posts %}
        <article role="article" itemscope itemtype="http://schema.org/BlogPosting">
            <div class="container-fluid">
                <div class="row port-object">
                    <div class="col-md-4">
                        <img class="img-resp" src="{{site.baseurl}}/assets/img/blog/{{post.img}}" alt="">
                    </div>
                    <div class="col-md-8">
                        <h2 class="article-title"><a href="{{site.baseurl}}{{post.url}}" rel="bookmark" title="Permanent Link to {{site.baseurl}}{{post.url}}">{{post.title}}</a></h2>
                        <time itemprop="dateCreated" datetime="{{post.date}}">{{post.date | date:"%B %-d, %Y"}}</time>
                        <p>{{post.excerpt | strip_html}}</p>
                        <a href="{{site.baseurl}}{{post.url}}" title="read more">Read more</a>
                    </div>
                </div>
            </div>
        </article>
        {% endfor %}

        <div class="pagination">
            {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
            <p class="prevLink left"><a href="{{site.baseurl}}/blog/index.html" class="previous"><i class="fa fa-arrow-left pad-right" aria-hidden="true"></i>newer entries</a></p>
            {% else %}
            <p class="prevLink left"><a href="{{site.baseurl}}/blog/page{{paginator.previous_page}}" class="previous"><i class="fa fa-arrow-left pad-right" aria-hidden="true"></i>newer entries</a></p>
            {% endif %}
            {% endif %}
            {% if paginator.next_page %}
            <p class="nextLink right"><a href="{{site.baseurl}}/blog/page{{paginator.next_page}}" class="next">older entries<i class="fa fa-arrow-right pad-left" aria-hidden="true"></i></a></p>
            {% endif %}
            <div style="clear: both;"></div>
        </div>
    
    </div>
</section>
