<!-- fun fact -->
<div id="fun-fact" class="dark italic text-center"></div>

<!-- footer -->
<footer>
    <div class="section-content">
        <div class="copyright">© Sam Rubin 2016</div>
        <div>
            <ul class="no-list-style site-links">
                <li><a href="{{site.baseurl}}/about.html">about</a></li>
                <li><a href="{{site.baseurl}}/projects.html">portfolio</a></li>
                <li><a href="{{site.baseurl}}/blog/index.html">blog</a></li>
                <li><a href="{{site.baseurl}}/contact.html">contact</a></li>
            </ul>
            <ul class="no-list-style social-icons">
                <li><a href="https://www.linkedin.com/in/samrubin1" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://twitter.com/sammrubin" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://github.com/smrubin" target="_blank"><i class="fa fa-github"></i></a></li>
                <li><a href="http://stackoverflow.com/users/6136026/smrubin" target="_blank"><i class="fa fa-stack-overflow"></i></a></li>
            </ul>
        </div>
    </div>
</footer>