<!-- fun fact -->
<div id="fun-fact" class="dark italic text-center">Fun Fact #14: I used to be internationally ranked in Guitar Hero.</div>

<!-- footer -->
<footer>
    <div class="section-content">
        <div>© Sam Rubin 2016</div>
        <div>
            <ul class="no-list-style">
                <li><a href="{{site.baseurl}}/about.html">about</a></li>
                <li><a href="{{site.baseurl}}/portfolio.html">portfolio</a></li>
                <li><a href="{{site.baseurl}}/blog.html">blog</a></li>
                <li><a href="{{site.baseurl}}/contact.html">contact</a></li>
            </ul>
            <ul class="no-list-style">
                <li><a href="https://www.linkedin.com/in/samrubin1" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://twitter.com/sammrubin" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://github.com/smrubin" target="_blank"><i class="fa fa-github"></i></a></li>
            </ul>
        </div>
    </div>
</footer>