<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% if page.title %}{{page.title}}{% else %}{{site.title}}{% endif %}</title> 
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{site.description}}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="google-site-verification" content="o_LfygouQ27lQuGc2N58VdfD1Q2XR01eR8bSK44FwMY" />
    
    <link rel="canonical" href="{{site.baseurl}}{{page.url}}">

    <meta property="og:image" content="http://samrubin.co/img/preview.PNG" />
    <meta prefix="og: http://ogp.me/ns#" property="og:image" content="http://samrubin.co/img/preview.PNG" />
    <link rel="image_src" type="image/png" href="{{site.baseurl}}/preview.PNG" />

    <link rel="apple-touch-icon" href="{{site.baseurl}}/apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="{{site.baseurl}}/assets/main.min.css">
    <link href="//cdn.rawgit.com/noelboss/featherlight/1.4.0/release/featherlight.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <script src="{{site.baseurl}}/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
