.home-adventures {
  padding: 80px 0;
  position: relative;
  overflow: hidden;
  background-color: #C7C0A5;
  background-image: linear-gradient(to right, $black 2px, transparent 2px), linear-gradient(to bottom, $black 2px, transparent 2px);
  background-size: calc(25vw * 0.85) calc(25vw * 0.85);
  background-position: calc((100vw - 85vw - 17px) / 2) 214.4px;

  @media (min-width: 550px) {
    background-size:calc(25vw * 0.8) calc(25vw * 0.8);
    background-position: calc((100vw - 80vw - 17px) / 2) 214.4px;
  }

  @media (min-width: 1125px) {
    background-size: 225px 225px;
  }

  @media (min-width: 1200px) {
    background-position: calc((100vw - 960px - 17px) / 2) 214.4px; //computed - actual height
  }

  &-header-box {
    @include header-box($pokeball-red);
    background-color: #C7C0A5;
    margin-left: 15px;
  }

  &-images {
    @extend .row;
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;

    @include mobile {
      justify-content: center;
    }

    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25%;
      max-width: 225px;
      position: relative;

      &:first-of-type {
        &:after {
          @include scrabble-tile('DOUBLE WORD SCORE', #F2B4A9);
          height: calc(100% - 6px);
          width: calc(100% - 3px);
          left: calc(-100% + 3px);
          top: 2px;
        }
      }

      &:nth-of-type(3) {
        &:after {
          @include scrabble-tile('TRIPLE LETTER SCORE', #5CAECE);
          height: calc(100% - 6px);
          width: calc(100% - 3px);
          top: calc(-100% + 6px);
          left: 3px;
        }
      }

      &:nth-of-type(5) {
        &:after {
          @include scrabble-tile('DOUBLE LETTER SCORE', #B6E1EA);
          height: calc(100% - 6px);
          width: calc(100% - 3px);
          top: calc(100% - 6px);
          left: calc(-100% + 3px);
        }
      }

      &:nth-of-type(6) {
        &:after {
          @include scrabble-tile('TRIPLE LETTER SCORE', #5CAECE);
          height: calc(100% - 6px);
          width: calc(100% - 3px);
          top: -2px;
          left: 2px;
        }
      }

      &:nth-of-type(7) {
        &:after {
          @include scrabble-tile('TRIPLE WORD SCORE', #E45356);
          height: calc(100% - 6px);
          width: calc(100% - 3px);
          top: calc(100% - 6px);
          left: 2px;
        }
      }

      &:last-of-type {
        &:after {
          @include scrabble-tile('DOUBLE WORD SCORE', #F2B4A9);
          height: calc(100% - 6px);
          width: calc(100% - 3px);
          left: calc(100% + 3px);
          top: -2px;
        }
      }
    }

    &-img {
      background-color: #f5cf90;
      margin: 8px;
      padding: 10px;
      box-shadow: 0 1.125mm 0.75mm -0.5mm rgba(0, 0, 0, 0.4);
      border-top: 0.75mm solid rgba(255, 255, 255, 0.45);
      border-left: 1px solid rgba(255, 255, 255, 0.25);
      border-right: 1px solid rgba(0, 0, 0, 0.15);
      border-bottom: 1.25mm solid rgba(0, 0, 0, 0.3);
      border-radius: 0.75mm;
      z-index: 1;

      @include mobile {
        padding: 4px;
      }
    }
  }

}