.home-contact {
  background-color: $pillow-grey;
  padding: 50px 15px 30px;

  &-header-box {
    @include header-box($pokeball-red);
  }

  &-item {
    @extend .six;
    @extend .columns;

    font-size: 22px;
    margin: 10px 0;

    @include mobile {
      font-size: 16px;
    }

    i {
      margin-right: 10px;
    }

    a, a:visited, a:active, a:link {
      color: $black;
      text-decoration: none;
    }

    &:hover {
      a, a:visited, a:active, a:link {
        color: $pokeball-red;
        text-decoration: none;
      }
    }
  }
}
