.home-banner {
  height: calc(100vh - 200px);
  width: 100%;
  position: relative;

  background-color: $white;

  iframe {
    height: 100%;
    width: 100%;
    position: absolute;

    opacity: 0.9;
  }

  .container {
    max-width: none;
    height: 100%;

    > .row {
      height: 100%;
    }
  }

  &-bio {
    @extend .eight;
    @extend .columns;

    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 50px;

    &-box {
      @include header-box($pokeball-red);
      @include mobile {
        margin-bottom: -5px;
      }
    }

    &-header {
      @include header-box($black);
      border-width: 5px;
      color: $black;
      font-size: 42px;
      font-weight: bold;
      position: absolute;
      right: 20%;
      top: 60%;
  
      @include mobile {
        display: none;
      } 

    }

    &-content {
      @extend .row;

      font-size: 20px;

      .columns {
        margin-left: 0;
      }

      &-header {
        color: $pokeball-red;
        margin-top: 30px;
      }

      &-value {
        color: $black;

        &:after {
          content: '';
          @include partial-underline($pokeball-red);
        }
      }
    }

    &-social {
      @extend .twelve;
      @extend .columns;
      margin: 30px 0 0;

      &-tile {
        border: 2px solid $pokeball-red;
        border-radius: 50%;
        color: $pokeball-red;
        display: inline-flex;
        align-items: center;
        font-size: 24px;
        height: 25px;
        margin-bottom: 30px;
        margin-right: 15px;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        width: 25px;

        &:hover, &:link, &:visited, &:active {
          color: $pokeball-red;
          text-decoration: none;
        }
      }
    }

  }
}

.home-blurb {
  background-color: $midnight-blue;
  border-bottom: 3px solid $pillow-grey;
  display: flex;

  &-wrapper {
    background-color: $pillow-grey;
    border-radius: 20px;
    margin: 0 auto 50px;
    padding: 0 50px;
    position: relative;
    top: -80px;

    @include mobile {
      margin: 0 15px;
      padding: 0 15px;
    }
  }

  &-container {
    @extend .container;
    padding: 30px 0;
  }
}
