.home {
  font-family: $raleway;

  &-hero {
    background-color: $pillow-grey;
    font-size: 18px;
    padding: 50px 15px;

    &-img {
      @extend .four;
      @extend .columns;

      height: 400px;

      img {
        height: 100%;
      }
    }

    &-bio {
      @extend .eight;
      @extend .columns;

      &-box {
        @include header-box($pokeball-red);
      }

      &-content {
        @extend .row;

        &-header {
          color: $pokeball-red;
          margin-top: 30px;
        }

        &-value {
          color: $black;

          &:after {
            content: '';
            @include partial-underline($pokeball-red);
          }
        }
      }

      &-social {
        @extend .twelve;
        @extend .columns;
        margin: 30px 0 0;

        &-tile {
          @include header-box($pokeball-red);
          display: inline-flex;
          align-items: center;
          height: 25px;
          margin-right: 15px;
          text-decoration: none;
          width: 25px;
        }
      }

    }
  }

  &-skills {
    background-color: $midnight-blue;
    padding: 50px 15px;

    &-header-box {
      @include header-box($pacific-blue);
      margin-bottom: 30px;
    }

    &-cards {
      @extend .row;

      @include desktop {
        white-space: nowrap;
      }
    }

    &-card {
      background-color: $pillow-grey;
      border: 4px solid $midnight-blue;
      border-radius: 10px;
      box-shadow: 3px 3px 5px 6px $midnight-blue;
      display: inline-block;
      color: $midnight-blue;
      height: calc(46px * 8);
      padding: 20px;
      width: calc(33px * 8);
      vertical-align: top;

      &:not(:first-of-type) {
        margin-left: -40px;

        @include mobile {
          margin-left: 0;
          margin-top: -40px;
        }
      }


      &-title {
        color: $pokeball-red;
        font-size: 22px;

        &:after {
          content: '';
          @include partial-underline($pokeball-red);
        }
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      &-back {
        @extend .home-skills-card;
        background-image:
        radial-gradient($midnight-blue 9px, transparent 10px),        
        repeating-radial-gradient($midnight-blue 0, $midnight-blue 4px, transparent 5px, transparent 20px, $midnight-blue 21px, $midnight-blue 25px, transparent 26px, transparent 50px);    
        background-size: 30px 30px, 90px 90px; 
        background-position: 0 0;
        border: 10px solid $pillow-grey;
        padding: 10px;
        transform: rotate(3.6deg);
      }

    }

  }


  &-projects {
    background-color: $eggplant;
    padding: 50px 15px;

    &-header-box {
      @include header-box($avocado-green);
      margin-bottom: 30px;
    }

    &-project {
      @extend .six;
      @extend .columns;
      margin: 15px 2% 15px 0;

      img {
        display: block;
        width: 100%;
      }

      &-content {
        background-color: $white;
        padding: 15px;

        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            border: 1px solid $black;
            border-radius: 20px;
            display: inline-block;
            margin: 3px 3px 5px 0;
            padding: 0 10px;
          }
        }

        &-title {
          font-size: 24px;
          margin-top: 10px;

          &:after {
            content: '';
            @include partial-underline($avocado-green);
          }
        }

        &-date {
          color: $avocado-green;
          margin-top: 10px;
        }
      }
    }
  }

}
