.home-projects {
  background-color: $midnight-blue;
  padding: 80px 15px;

  &-header-box {
    @include header-box($pacific-blue);
    margin-bottom: 30px;
  }

  &-wrapper {
    @extend .row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-project {
    @extend .six;
    @extend .columns;
    @include mobile {
      margin-left: 0;
      width: 100%;
    }

    background-color: $white;
    margin: 20px 0;

    img {
      display: block;
      width: 100%;
    }

    &-content {
      padding: 15px;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          border: 1px solid $black;
          border-radius: 20px;
          display: inline-block;
          font-size: 12px;
          margin: 3px 3px 5px 0;
          padding: 0 10px;
        }
      }

      &-title {
        font-size: 24px;
        margin-top: 10px;

        &:after {
          content: '';
          @include partial-underline($avocado-green);
          transition: all 0.3s;
        }

        &:hover {
          &:after {
            width: 80px;
          }
        }

        a {
          font-size: 14px;
          padding-left: 5px;
          vertical-align: middle;
        }
      }

      &-date {
        color: $avocado-green;
        font-weight: bold;
        margin-top: 10px;
      }
    }
  }
}