<!doctype html>
<html class="no-js" lang="" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/Blog">

{% include header.html %}

<body class="site">
  <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  {% include nav.html %}

  <main class="site-content">
      {{content}}
  </main>

  {% include footer.html %}
  
  <!--[if gt IE 8]><!><script src="{{site.baseurl}}/js/vendor/modernizr-2.8.3.min.js"></script><!<![endif]-->
  <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{site.baseurl}}/js/vendor/jquery-1.12.1.min.js"><\/script>')</script>
  <script src="{{site.baseurl}}/js/plugins.js"></script>
  <script src="{{site.baseurl}}/js/vendor/bootstrap.min.js"></script>
  <script src="//cdn.rawgit.com/noelboss/featherlight/1.4.0/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{site.baseurl}}/js/main.js"></script>

  <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','UA-75792933-1','auto');ga('send','pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>

</body>
</html>
