---
layout: default
page-type: project
---

<section id="portfolio-page">
    <div class="section-content">
        <div class="page-header">
            <h1>{{page.title}} <br/><small>{{page.tagline}}</small></h1>
        </div>
        <div class="container-fluid">
            <div class="row port-object">
                <div class="col-md-7">

                    <a href="#" data-featherlight="{{site.baseurl}}/img/projects/{{page.mainImg}}"><img class="img-resp mar-bottom" src="{{site.baseurl}}/img/projects/tn-{{page.mainImg}}" alt="{{page.title}}"></a>
                    
                    <a href="#" data-featherlight="{{site.baseurl}}/img/projects/{{page.altImg}}"><img class="img-resp mar-bottom" src="{{site.baseurl}}/img/projects/tn-{{page.altImg}}" alt="{{page.title}}"></a>
                
                </div>
                <div class="col-md-5">
                    {{content}}
                    <a href="{{site.baseurl}}/projects.html" title="back to projects"><i class="fa fa-arrow-left pad-right"></i>Back to Projects</a>
                </div>
            </div>
        </div>
    </div>
</section>