---
---

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,600);

@import 'vendor/normalize';
@import 'vendor/skeleton';
@import 'vars';
@import 'mixins';
@import 'components/navbar';
@import 'components/header';
@import 'components/hero';
@import 'components/skills';
@import 'components/blog';
@import 'components/projects';
@import 'components/recs';
@import 'components/adventures';
@import 'components/impossible';
@import 'components/contact';
@import 'components/footer';

.home {
  background-image: url('../assets/img/bg-1.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  font-family: $raleway;
}

#funfact {
  background-color: $white;
  border-top: 2px solid $midnight-blue;
  border-bottom: 2px solid $midnight-blue;
  color: $black;
  font-style: italic;
  padding: 5px 15px;
  text-align: center;
}
